<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Klanten')"></head>
<body>
<a th:href="@{/}">Genres</a>
<a th:href="@{/mandje}">Mandje</a>
<a th:href="@{/klanten}">Klanten</a>
<h1>Klanten</h1>
<form th:object="${vindNaamAdhvLettersForm}" method="get" th:action="@{/klanten}">
    <label>Familienaam bevat:
    <input th:field="*{letters}" autofocus required></label>
    <button>Zoeken</button>
</form>

<th:block th:if="${klantenMetStartletters}">
    <table>
        <thead>
            <th>Naam</th>
            <th>Straat-Huisnummer</th>
            <th>Postcode</th>
            <th>Gemeente</th>
        </thead>
        <tr th:each="klant:${klantenMetStartletters}" th:object="${klant}">
            <td><a th:href="@{/klanten/bevestigen/{id}(id=${klant.id})}" th:text="|*{familienaam} *{voornaam}|"></a></td>
            <td th:text="*{straatNummer}"></td>
            <td th:text="*{postcode}"></td>
            <td th:text="*{gemeente}"></td>
        </tr>
        <tbody></tbody>
    </table>
</th:block>

</body>
</html>